body {
      background-color: #5D5C61;
    }
    #tower {
      max-width: 800px;
      font-family: "Courier New", monospace, sans-serif;
      font-weight: 800;
      color: #ed7118;
    }
    #towerpanic {
      max-width: 800px;
      font-family: "Courier New", monospace, sans-serif;
      font-weight: 800;
      color: #ed7118;
      font-size: 32px;
    }
    #hello {
      max-width: 800px;
      font-family: "Courier New", monospace, sans-serif;
      font-weight: 800;
      color: #FFFFFF;
      display: none;
    }
    #two {
      max-width: 800px;
      font-family: "Courier New", monospace, sans-serif;
      font-weight: 800;
      color: #FFFFFF;
      display: none;
    }
