body {
      background-color: #5D5C61;
    }
p {
    max-width: 800px;
    font-family: "Courier New", monospace, sans-serif;
    font-weight: 800;
    color: #FFFFFF;
    }  
    #tower {
      max-width: 800px;
      font-family: "Courier New", monospace, sans-serif;
      font-weight: 800;
      color: #ed7118;
    }
    #towerpanic {
      max-width: 800px;
      font-family: "Courier New", monospace, sans-serif;
      font-weight: 800;
      color: #ed7118;
      font-size: 32px;
    }
    #hello {
      max-width: 800px;
      font-family: "Courier New", monospace, sans-serif;
      font-weight: 800;
      color: #FFFFFF;
      display: none;
    }
    #two {
      max-width: 800px;
      font-family: "Courier New", monospace, sans-serif;
      font-weight: 800;
      color: #FFFFFF;
      display: none;
    }
#judge {
      max-width: 800px;
      font-family: "Arial", monospace, sans-serif;
      font-weight: 800;
      color: #00FFFF;
    }
#three {
      max-width: 800px;
      font-family: "Courier New", monospace, sans-serif;
      font-weight: 800;
      color: #FFFFFF;
      display: none;
    }
#main {
      max-width: 800px;
      font-family: "Courier New", monospace, sans-serif;
      font-weight: 800;
      color: #FFFFFF;
    }
#four {
      max-width: 800px;
      font-family: "Courier New", monospace, sans-serif;
      font-weight: 800;
      color: #FFFFFF;
      display: none;
    }
#five {
      max-width: 800px;
      font-family: "Courier New", monospace, sans-serif;
      font-weight: 800;
      color: #FFFFFF;
      display: none;
    }
#just {
      max-width: 800px;
      font-family: "Verdana", monospace, sans-serif;
      font-weight: 800;
      color: #4682B4;
    }
#six {
      max-width: 800px;
      font-family: "Courier New", monospace, sans-serif;
      font-weight: 800;
      color: #FFFFFF;
      display: none;
    }
#seven {
      max-width: 800px;
      font-family: "Courier New", monospace, sans-serif;
      font-weight: 800;
      color: #FFFFFF;
      display: none;
    }
